<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location...">
            <button>Submit</button>
        </form>

        <p id="weather_icon"></p>
        <p id="location"></p>
        <p id="temperature"></p>
        <p id="feelslike"></p>
        <p id="precipitation"></p>
        <p id="humidity"></p>
        <p id="wind"></p>
        <p id="uv_index"></p>
        <p id="cloud_cover"></p>
        <p id="visibility"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>